header{
    align-items: center;

}
.btnmuseum{
    color: black;
    background-color: white;
    font-size: 1.1em;
    border-radius: 50px;
    min-width: 1.1em;
    padding: 34.9em 34.6em;
    margin: 30px 5px;
}

.btncredits{
    color: black;
    background-color: white;
    font-size: 1.1em;
    margin-top: 20px;
}
.linkownpp{
    color: black;
    background-color: gray;
    border-radius: 80px;
    margin-bottom: 50px;
    min-height: 50px;
}
